<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/form.css">
<script type="text/javascript" src="/lib/stars.js"></script>
<script type="text/javascript" src="/lib/datepicker.js"></script>
<!-- cropper -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.js"></script>

<script type="text/javascript" src="/lib/uploadImage.js"></script>



<div class="container" id="newform">
	<h1>Add a new item</h1>
	<form action="/allItems", method="POST">
		<div class="form-group">
			<label for="name">Item name</label>
			<input type = "text" name="item[name]" id="name" class="form-control">
		</div>
		<div class="form-group">
			<label for="brand">Brand</label>
			<input type = "text" name="item[brand]" id="brand" class="form-control">
		</div>
		<div class="form-group">
			<label for="price">How much is it?</label>
			<input type = "number" name="item[price]" id="price" class="form-control" min="0.01" step="0.01">
		</div>
        <div class="form-group">
        	<label for="purchasedTime">When did you purchase it?</label>
            <div class="datepicker datepicker-dropdown date input-group p-0 shadow-sm">
                <input type="text" placeholder="Choose a purchased date" class="form-control py-4 px-4" id="purchasedTime" name="item[purchasedTime]" data-date-format="mm/dd/yyyy">
                <div class="input-group-append"><span class="input-group-text px-4"><i class="far fa-clock"></i></span></div>
            </div>
        </div><!-- End Date Picker Input -->
        <div class="form-group">
        	<label for="category">Category</label>
        	<select name="item[category]" id="category" class="category">
        		<option select="selected">Select a category</option>
        		<option value="top">top</option>
        		<option value="bottom">bottom</option>
        		<option value="jacket">jacket</option>
        		<option value="overall">dress or overall</option>
        		<option value="accessory">accessory</option>
        	</select>
        </div>
        <div class="form-group season-input">
        	<p>Which season would you wear this in?</p>
        	<input type="hidden" name="item[season]" class="season" value="none">
        	<label for="spring">spring/fall</label>
        	<input type="checkbox" name="season" value="spring" id="spring">
        	<label for="summer">summer</label>
        	<input type="checkbox" name="season" value="summer" id="summer">
        	<label for="winter">winter</label>
        	<input type="checkbox" name="season" value="winter" id="winter">
        </div>
        <div class="form-group">
			<input type = "hidden" name="item[image]" class="form-control image" value="">
			<label for="image-file">Upload an image</label>
			<div>
				<canvas>
					<!-- <img src="#" class="image-to-upload"> -->
				</canvas>
				<div class="image-canvas"></div>
			</div>
			<input type="file" multiple="false" accept="image/*" class="form-control image-file">
			<a href="#" class="crop-button">Crop</a>
			<a href="#" class="restore-button">Restore</a>
		</div>
		<div class="form-group">
			<label for="description">Describe the item in a few words</label>
			<textarea class="form-control" id="description" rows="3"></textarea>
		</div>
		<div class="form-group">
			<label for="rating">How do you like it?</label>
			<input type = "hidden" name="item[rating]" class="form-control rating" value='0'>
			<div class="stars-input">
				<span class="fas fa-star" data-value="1"></span>
				<span class="fas fa-star" data-value="2"></span>
				<span class="fas fa-star" data-value="3"></span>
				<span class="fas fa-star" data-value="4"></span>
				<span class="fas fa-star" data-value="5"></span>
			</div>
		</div>
		<div class="form-group">
			<input type = "hidden" name="item[wornTimes]" class="form-control" value='0'>
		</div>
		<button>Submit</button>
	</form>
</div>

<script type="module" src="/lib/cropper.js"></script>

<%- include("../partials/footer") %>