<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container">
	<div class="jumbotron">
		<h3 id="index-header"> Outfit of the Day </h3>
		<a href="/outfit-of-the-day/new" id="add-new"><i class="fas fa-plus"></i> Add a new outfit</a>
	</div>
</div>

<%- include("../partials/footer") %>