<%- include("../partials/header") %>

<body id="landing-page">
	<div class="container" id="landing-container">
		<h1>Welcome to ClothCheck</h1>
		<p>Keep track of your clothes. Always know what to wear.</p>
		<a href="/allItems" class="btn btn-primary" role="button" id="start-button">Get Started</a>
	</div>
	<li id="bg"></li>
</body>


<%- include("../partials/footer") %>